body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #2e8b57;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

ul {
    line-height: 2;
}

img {
    border-radius: 10px;
    margin-top: 10px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #999;
}

th, td {
    padding: 10px;
    text-align: center;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #0000cd;
}

a:hover {
    color: #ff4500;
}

